
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12" style="padding:0px">
            <div id="accordion">
                <div class="card">
                    <div class="alert alert-primary" role="alert">
                        Congratulations, You have been succesfully subscribed on our X Cloud !
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>