<!-- Section-->
<style>
    #page-container {
        position: relative;
        min-height: 100vh;
        background-image: url('/assets/Images/Cloud5.jpg');
    }

    #content-wrap {
        padding-bottom: 2.5rem; /* Footer height */
    }

    .contentDiv{
        background-color:whitesmoke;
        border-radius: 25px;
    }

    .textBlack{
        color:black;
    }
</style>
<section class="py-5" id="page-container">
    <div class="container px-4 px-lg-5 mt-5" id="content-wrap">
        <div class="justify-content-center contentDiv" style="min-height:90%">
            <div class="col-12">
                <div class="row pageTitle">
                    <br />
                    <h4 class="pageTitleHeader text-center textBlack">About Us</h4>
                    <br />
                    <br />
                    <br />
                    <br />
                </div>
                <div class="row" style="padding: 0 50px 20px 50px;">
                    <div class="about">
                        <h4 class="textBlack">
                            Smart CloudX is international company  that allows you  to store website and email files on servers that are managed and maintained by our world class and dedicated proffesionals.
                        </h4>
                        <h4 class="textBlack">
                            We set out to change the stock standard web hosting experience. We believe that lightning fast hosting isn't an option, it's a requirement. We pride ourselves in excellent customer service and technical expertise..
                        </h4>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>