<!-- Section-->
<style>
    #page-container {
        position: relative;
        min-height: 100vh;
        background-image: url('/assets/Images/Cloud5.jpg');
    }

    #content-wrap {
        padding-bottom: 2.5rem; /* Footer height */
    }

    .contentDiv {
        background-color: whitesmoke;
        border-radius: 25px;
    }

    .textBlack {
        color: black;
    }
</style>
<section class="py-5" id="page-container">
    <div class="container px-4 px-lg-5 mt-5" id="content-wrap">
        <div class="justify-content-center contentDiv" style="min-height:90%">
            <div class="col-12">
                <div class="row pageTitle">
                    <br />
                    <h4 class="pageTitleHeader text-center textBlack">Contact Us</h4>
                    <br />
                    <br />
                    <br />
                    <br />
                </div>
                <div class="row" style="padding: 0 50px 20px 50px;">
                    <div class="about">
                        <h4 class="textBlack">
                            <h5><b>Our Offices</b></h5>
                            <hr />
                            <p>Midrand</p>
                            <P>Johannesburg</P>
                            <P>1685</P>.
                        </h4>
                        <h4 class="textBlack">
                            <p> <i class="fa fa-phone"></i>  063 50 22 159 </p>
                            <p> <i class="fa fa-envelope"></i> <a href="asandamdolo@gmail.com">asandamdolo@gmail.com</a> </p>
                            <p>&nbsp;</p>
                        </h4>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>