@model Entities.Login

<style>
    #page-container {
        position: relative;
        min-height: 100vh;
        background-image: url('/assets/Images/Cloud5.jpg');
    }

    #content-wrap {
        padding-bottom: 2.5rem; /* Footer height */
    }

    .contentDiv {
        background-color: whitesmoke;
        border-radius: 25px;
    }

    .textBlack {
        color: black;
    }
</style>

<section class="py-5" id="page-container">
    <div class="container px-4 px-lg-5 mt-5" id="content-wrap">
        <div class="justify-content-center contentDiv" style="min-height:90%">
            <div class="col-lg-12">
                <div class="p-5">
                    <div class="text-center">
                        <h1 class="h4 text-gray-900 mb-4">Login</h1>
                    </div>
                    <form class="user" asp-action="Login" method="post" id="LoginForm">
                        <div class="row">
                            <div class="alert alert-danger col-md-12" style="display:none" id="errorMessage" role="alert">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="EmailAddress" class="control-label control-label small">Email Address <span class="Error">*</span></label>
                                    <input asp-for="EmailAddress" class="form-control form-control-sm rounded-0" />
                                    <span asp-validation-for="EmailAddress" id="errorEmailAddress" class="text-danger small rounded-0"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="Password" class="control-label control-label small validate">Password <span class="Error">*</span></label>
                                    <input asp-for="Password" type="password" id="password1" class="form-control form-control-sm rounded-0 " />
                                    <span toggle="#password1" class="fa fa-fw fa-eye field-icon toggle-password rounded-0 Passworda"></span>
                                    <span asp-validation-for="Password" id="ePassword1" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-4">
                            </div>
                            <div class="col-md-4">
                                <input type="submit" value="Login" class="btn btn-primary small col-12 btn-block btn-sm rounded-pill" />
                            </div>
                            <div class="col-md-4">
                            </div>
                        </div>
                    </form>
                    <hr>
                    <div class="text-center">
                        <a class="small" asp-controller="Account" asp-action="Register">Create an Account!</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!--Spinner Modal-->

    <div class="modal" id="busyModal" data-backdrop="static" data-keyboard="false">
        <div class="center">
            <img src="~/assets/Images/loader.gif" />
        </div>
        <button type="button" style="visibility: hidden" class="btn btn-secondary" id="btnClose" data-dismiss="modal" />
    </div>
    @section scripts
        {

        <script src="~/js/Views/Account/Login.js"></script>
    }
</section>